body  {
    margin: 0 auto;
    max-width: 100%;
    background-color: #121416;
    color: lightgray;
}
.container  {
    margin: 0 auto;
    max-width: 100%;
    background-color: #121416;
    color: lightgray;
}
a {
  text-decoration: none;
  color: lightgray;
  font-size: 20px;
  font-weight: lighter;
}
h1 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 28px;
  font-weight: 100;
}
.mainblock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
  color: #9C9EA0;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
p {
  font-family: 'Advent Pro', sans-serif;
  font-size: 23px;
  width: 100%;
  font-weight: 100;
  color: #9C9EA0;
  margin-bottom: 120px;
}
.contactblock {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
}
@media screen (min-width: 320px) and (max-width: 767px){
    .contactblock {
        display: block;
    }
}
.contactform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 320px;
  margin-left: 60px;
  width: 20%;
}
/*.show-hide {
    width: 0;
}
aside {
    background-color: #282828;
    color: #fff;
    height: 100%;
    width: 250px;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 100px;
    transition: all .5s ease;
    opacity: 1;
    z-index: 1;
}*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Advent Pro', sans-serif;
  font-size: 30px;
  margin-top: 0px;
  margin-left: 3px;
  margin-bottom: 0px;
  font-weight: normal;
  color: lightgray;
}

.links {
  display: inline;
  color: black;
  text-decoration: none;
  height: 40px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.links:last-child {
  border-right: none;
}
.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-right: 0px;
  color: black;
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Advent Pro', sans-serif;
}
.name {
  font-size: 42px;
  font-weight: 900;
  font-family: 'Advent Pro', sans-serif;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 8px;
  margin-left: 8px;
}
.photo {
  background-image: url('../img/profile.jpg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 501px;
  width: 500px;
  margin-top: 0px;
  margin-right: 90px;
  margin-bottom: 440px;
  margin-left: 0px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.dropdown-contents {
  display:none;
  color: black;
  z-index: 10;
  position:absolute;
  font-size: 12px;
  list-style-type: none;
}
.dropdown:hover .dropdown-contents{
  display:block;
  font-size: 60px;
}
.dropdown-links {
  font-size: 12px;
  color: black;
  font-weight: 900;
}
.second-button {
  color: lightgray;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
  background-color: #121416;
  width: 320px;
  height: 40px;
  font-size: 10px;
  text-decoration: none;
}
.small {
  color: white;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
  background-color: #121416;
  font-size: 15px;

}
.bottom {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squares {
  display:flex;
  justify-content: center;
  align-items: center;
}
h4 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 17px;
  font-weight: 100;
  color: lightgray;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 4px;
  text-align: left;
  margin-left: 0px;
  margin-right: 20px;
  width: 340px;
}
h6 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 17px;
  font-weight: 100;
  color: lightgray;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
  margin-left: 6px;
  margin-right: 170px;
}
h3 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: lightgray;
  margin-top: 0px;
}
h2 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: lightgray;
  margin-top: 0px;
  margin-bottom: 300px;
}
h5 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 620px;
  color: lightgray;
}
.firstquote {
  color: gray;
  font-size: 12px;
  text-align: left;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
}
.firstquote {
  color: gray;
  font-size: 12px;
  text-align: left;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
}

.leftsquare {
  background: url("../img/calculatedrisks.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 400px;
  height: 602px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middlesquare {
  background: url("../img/blank.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 6%;
}

.rightsquare {
  background: url("../img/offtelegraph.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 400px;
  height: 603px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whitebutton {
  font-size: 16px;
  font-family: 'Advent Pro', sans-serif;
  background-color: lightgray;
  color: black;
  border: 1px solid lightgray;
  border-radius: 8px;
  height: 30px;
  width: 200px;
  margin-top: 0px;
  margin-bottom: 40px;
}
.class1 {
  font-size: 16px;
  font-family: 'Advent Pro', sans-serif;
  background-color: lightgray;
  color: black;
}
input {
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  height: 30px;
  width: 340px;
  font-family: 'Advent Pro', sans-serif;
  margin-bottom: 600px;
  margin-top:2px;
}
input:last-child {
  background-color: #D0D3D4;
  font-weight: bolder;
  border-radius: 6px;
  color: black;
  font-family: 'Advent Pro', sans-serif;
  font-size: 22px;
  height: 30px;
  width: 342px;
  margin-top: 2px;
}
form {
  margin-left: 3px;
  height: 30px;
  width: 340px;
  margin-bottom: 600px;
  margin-left: 70px;
  margin-right: 100px;
}
.reviews {
  margin-bottom: 0px;
  margin-top: 660px;
}
